<h1>Menuplan</h1>
<h2>{{ (restaurant$ | async)?.name }}</h2>

<ng-container *ngIf="(mealPlans$ | async)?.plans; let plans">
  <mat-accordion>
    <ng-container *ngFor="let day of sortedMealPlanDays$ | async; index as i">
      <ng-container *ngIf="plans[day]; let plan">
        <mat-expansion-panel [expanded]="isToday(plan.date)">
          <mat-expansion-panel-header>
            <div class="panel-header-line">
              {{ plan.date | date : "fullDate" }}
              <mat-icon
                class="today"
                color="accent"
                *ngIf="isToday(plan.date)"
                matTooltip="Heute"
              >
                circle
              </mat-icon>
            </div>
          </mat-expansion-panel-header>

          <div class="meals">
            <mat-card class="meal-card" *ngFor="let meal of plan.offers">
              <mat-card-content>
                <div class="title-container">
                  <h3 class="title">{{ meal.title }}</h3>
                  <app-dietary-restriction
                    [restriction]="meal.dietaryRestriction"
                  ></app-dietary-restriction>
                </div>

                <ul class="trimmings">
                  <li *ngFor="let trim of meal.trimmings">
                    {{ trim }}
                  </li>
                </ul>

                <mat-chip-set role="list">
                  <mat-chip
                    *ngIf="meal.price.internalPrice > 0"
                    color="primary"
                    role="listitem"
                  >
                    INT
                    {{ meal.price.internalPrice | currency }}
                  </mat-chip>
                  <mat-chip
                    *ngIf="meal.price.externalPrice > 0"
                    color="secondary"
                    role="listitem"
                  >
                    EXT {{ meal.price.externalPrice | currency }}
                  </mat-chip>
                </mat-chip-set>
              </mat-card-content>
            </mat-card>

            <ng-container *ngIf="!plan.offers || plan.offers.length === 0">
              <p>
                Für diesen Tag konnten die Angebote scheinbar nicht richtig
                eingelesen werden. Du kannst es direkt auf der
                <a [href]="(restaurant$ | async)?.link">SV-Webseite</a>
                versuchen.
              </p>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </ng-container>
  </mat-accordion>
</ng-container>
