<div class="header-line">
  <h1>Restaurants</h1>

  <mat-spinner *ngIf="!(ready$ | async)"></mat-spinner>
</div>

<mat-form-field appearance="outline" class="search">
  <mat-label>Restaurant suchen</mat-label>

  <mat-icon matPrefix>search</mat-icon>

  <input type="text" matInput #filter (keyup)="onFilterChanged($event)" />

  <button
    mat-icon-button
    matSuffix
    (click)="filter.value = ''; onFilterChanged()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div
  class="restaurant-container"
  *ngIf="!(filter$ | async) && (favoriteRestaurants$ | async)?.length"
>
  <app-restaurant-card
    *ngFor="let restaurant of favoriteRestaurants$ | async"
    [restaurant]="restaurant"
    (selected)="openRestaurant($event)"
  ></app-restaurant-card>
</div>

<hr *ngIf="!(filter$ | async) && (favoriteRestaurants$ | async)?.length" />

<div class="restaurant-container">
  <app-restaurant-card
    *ngFor="let restaurant of restaurants$ | async"
    [restaurant]="restaurant"
    (selected)="openRestaurant($event)"
  ></app-restaurant-card>
</div>
