.header-line {
  display: flex;

  align-items: center;

  > .mat-mdc-progress-spinner {
    $size: 15px;

    margin-left: 1rem;

    width: $size !important;
    height: $size !important;
  }
}

.search {
  width: 100%;
}

.restaurant-container {
  display: grid;

  $gap: 1rem;
  $min-width: 22em;

  grid-template-columns: repeat(auto-fit, minmax(min(100%, $min-width), 1fr));
  grid-gap: $gap;

  > * {
    cursor: pointer;
  }

  & + hr {
    border-color: gray;
    margin: 1em 0;
  }
}
